#headshot {
	margin-top: 35px;
}
.color-red {
	color: #E13A63;
}
.small-panel {
	margin-left: 80px;
}
.text-align-ceter{
	text-align: center;
.
}
.font-rale {
	font-family: Raleway;
}

#make-it-sit {
	margin-left: 75px;
}
.h1, .h2, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
@media screen and (max-width: 800px) {
